# Database Configuration
DB_HOST=202.4.127.189
DB_PORT=5632
DB_NAME=monir_brac_mne_data
DB_USER=postgres
DB_PASSWORD=P0StGr35**

# Bitbucket Authentication
# Replace with your actual Bitbucket username and app password
BITBUCKET_USERNAME=your_username
BITBUCKET_API_TOKEN=see api token from google keep